.container {
  margin: 80px 66px;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.content {
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  /* justify-content: center; */
}
.content p {
  color: #949494;
}
.content button {
  color: white;
  background-color: #ff5300;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  border-radius: 10px;
  padding: 15px;
  transition: 0.3s;
}
.content button:hover {
  color: black;
  background-color: white;
}
